.item {
    display: flex;
    flex-direction: row;
    padding: 5px;
    border: 1px solid gray;
    cursor: pointer;
}

.item-name-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
}

.item-name {
    font-size: medium;
    font-weight: bold;
    margin: 0;
}

.item-nickname {
    margin: 0;
    font-size: small;
}

.img {
    height: 80px;
    width: 80px;
}

.item-owned-container {
    display: flex;
    align-items: center;
    justify-content: center;
}